* {
  border:1px solid lightgrey
}
header {
  background-color: blue;
  color:whitesmoke;
  text-align: center;
  font-size:  x-large;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
}
body {
  font-family: 'Fira Sans', sans-serif;
}
#curWeather {
  border: 1px solid black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.icon {
  height: auto;
  width: auto;
}